# Turn on URL rewriting
RewriteEngine On

# Protect hidden files from being viewed
<Files .*>
	Order Deny,Allow
	Deny From All
</Files>

# Turn of Indexes
Options -Indexes

#requires Apache 2.2.16 
FallbackResource /public/index.php