<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On    
    
    php_value upload_max_filesize 50M
    php_value post_max_size  52M

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f

    RewriteRule ^(.*)$ index.php/$1 [L]

</IfModule>
