/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

#header {
	background:#2d2d2d url(../images/bg_h_3.png) top left repeat;
	position:relative;
	z-index:9;
}

	#header a:hover {text-decoration:none;}
	
	#header img {
		border:0;
		background:none;
		padding:0;
	}

	#navigation {
		list-style:none;
		padding:0 20px 0 0;
		margin:0;
		position:relative;
		right:25px;
		z-index:20;
	}
	
		#navigation li {
			background:url(../images/hdr_divider.png) right 9px no-repeat;
			float:left;
			padding:5px 20px 10px;
			position:relative;
			text-shadow:1px 1px 0 #000000;
		}
		
		#navigation li.nav_marker {background:url(../images/nav_marker.png) 160px 13px no-repeat;}
		
		#navigation li.current_page_item.nav_marker, #navigation li.current_page_item.nav_marker:last-child {background:url(../images/nav_marker.png) 160px -38px no-repeat;}
		
		#navigation li.nav_marker:last-child  {background:url(../images/nav_marker.png) 160px 13px no-repeat;}
		
		#navigation li.nav_marker:hover {background:#0b0b0b url(../images/nav_marker.png) 160px -38px no-repeat;}
		
		#navigation li:last-child {background:none;}
		
		#navigation li a:link,
		#navigation li a:visited {
			color:#ffffff;
			font-weight:bold;
			font-family:Tahoma, Geneva, Kalimati, sans-serif;
			text-align:center;
			text-decoration:none;
			position:relative;
			opacity:.6;
		}
		
			#navigation li:hover {
				padding-left:20px;
				cursor:pointer;
			}
			
			#navigation li.current_page_item a, #navigation li:hover a {opacity:1;}
		
		#navigation li ul {
			background:#1d1d1d;
			list-style:none;
			padding-bottom:5px;
			margin:0;
			position:absolute;
			top:31px;
			left:0;
			z-index:240;
			display:none;
		}
		
			#navigation li li {
				background:none;
				float:none;
				padding:0;
				margin:0;
				position:relative;
				z-index:250;
				text-shadow:none;
			}
			
			#navigation li li:hover {
				background:#0b0b0b;
				margin:0;
				padding:0;
			}
			
			#navigation li li a {
				background:none;
				font-family:Calibri, AppleGothic, "MgOpen Modata", sans-serif;
				font-weight:normal;
				color:#919191;
				display:block;
				text-align:left;
				width:135px;
				height:auto;
				padding:4px 20px 6px;
				position:relative;
				overflow:hidden;
				opacity:1;
			}
		
			#navigation li.current_page_item li a, #navigation li:hover li a {
				background:none;
				color:#919191;
			}
		
		#navigation li:hover li.current_page_item a, #navigation li:hover li:hover a, #navigation li.current_page_item li.current_page_item a {color:#ffffff;}
		#navigation li:hover li.current_page_item li a, #navigation li.current_page_item li.current_page_item li a, #navigation li:hover li:hover li a {color:#919191;}
		#navigation li:hover li:hover li.current_page_item a, #navigation li:hover li:hover li:hover a, #navigation li.current_page_item li.current_page_item li.current_page_item a {color:#ffffff;}
		#navigation li:hover li:hover li.current_page_item li a, #navigation li.current_page_item li.current_page_item li.current_page_item li a, #navigation li:hover li:hover li:hover li a {color:#919191;}
		#navigation li:hover li:hover li:hover li.current_page_item a, #navigation li:hover li:hover li:hover li:hover a, #navigation li.current_page_item li.current_page_item li.current_page_item li.current_page_item a {color:#ffffff;}
		
		#navigation li li ul {
			list-style:none;
			position:absolute;
			top:0;
			left:175px;
			z-index:240;
		}


/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/