@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('../../node_modules/bulma/css/bulma.css');

$font-primary: 'Roboto', sans-serif;
$color-gray-light: #f1f1f1;
$color-gray: #d7d7d7;
$color-gray-dark: #bfbfbf;
$color-black: #222;

$color-primary: #3F51B5; /* 500 */
$color-primary-light: #7986CB; /* 300 */
$color-primary-gray: #E8EAF6; /* 50 */

body, button, input, select, textarea {
    font-family: $font-primary;
}

.hero {
  background: $color-primary url('https://humblee.app/media/9/header-background-springfield-ma.png') center no-repeat;
  background-size: cover;
  
  .container {
    background-color: rgba(0, 50, 103, 0.5);
    padding: 10px 0 10px 20px;
    border-radius: 8px;

        .title span.icon:not(span.fas) {
            background-color: rgba(121, 173, 255, 0.5);
            width: 46px;
            height: 41px;
            margin: 0 -10px;
            border-radius: 5px;
        }

        .title:not(.icon, .fas) {
            text-shadow: 4px 4px 11px black;
        }

        .title, .subtitle {
            color: $color-gray-light;
        }

    }

}

s, strike {
  text-decoration: none;
  display: inline-block;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 2px solid orangered;
    height: 45%;
    height: calc(50% - 1px);
    width: 105%;
    transform: rotateZ(-5deg);    
  }
}

figure.homepage.image {
  background-color: #e8e8e8;
  padding: 12px;
  border-radius: 5px;
}